@import "tailwindcss";

@theme {
  --color-brand-primary: #ff7110;
  --color-brand-light: #fcfcfc;
  --color-brand-dark: #222222;
  --color-brand-black: #000000;
}

body {
  margin: 0;
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}
